{% extends "base.html.twig" %}
{# Vue pour la demande de changement de MDP (envoyé par email) #}
{% block color %}user-color{% endblock %}

{% block title %}
<a href="{{path("app_login")}}"><i class="fas fa-arrow-left text-white"></i></a>
Mot de passe oublié{% endblock %}

{% block content %}
<form method="post">
 
    <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

    <button class="btn btn-success mt-2" type="submit">
        Envoyé l'email !
    </button>

</form
{% endblock %}