{% extends "base.html.twig" %}
{# Vue pour la création du nouveau MDP #}
{% block color %}user-color{% endblock %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
<form method="post">
 

    <label for="inputPassword" class="sr-only">Mot de passe</label>
    {# avec le pattern on demande un minimum de 5 caractères pour le nouveau mot de passe #}
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" pattern=".{5,}" required title="5 caractères minimum !">
    <input type="hidden" name="token" value="{{ token }}">

    <button class="btn btn-success mt-2" type="submit">
        Valider mot de passe
    </button>
</form>
{% endblock %}