.fond-principal{
    background: #021366 !important;
}

.learn-color{
    background: #DA1C5C !important;
}

.evaluate-color{
    background: #EF4E24 !important;
}

.news-color{
    background: #FFC924 !important;
}

.unit-color{
    background: #17A2B8 !important;
}

.user-color{
    background: #39B54A !important;
}

