{% extends 'base.html.twig' %}

{% block color %}news-color{% endblock %}

{% block news_color %}news-color{% endblock %}


{% block title %}
<a href="{{path("home")}}"><i class="fas fa-arrow-left text-white"></i></a>
Actualités
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">{{ news.titre }}</h1>
        <p class="lead">{{ news.article }}</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Voir l'article</a>
    </div>

{% endblock %}
