{% extends 'base.html.twig' %}

{% block color %}news-color{% endblock %}

{% block news_color %}news-color{% endblock %}


{% block title %}
<a href="{{path("home")}}"><i class="fas fa-arrow-left text-white"></i></a>
Actualités
{% endblock %}

{% block content %}

{% endblock %}
